.form-container {
    width: 500px;
    height: 600px;
    margin: 20px auto;
    background-color: rgb(234, 219, 199);
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
}
.form-control {
    margin-bottom: 20px;
}

.form-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
}

.form-control input {
    width: 415px;
    height: 55px;
    left: 526px;
    top: 346px;
    background-color: aliceblue;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 10px;
}
.btn-submit{
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    margin-top: 40px;
    font-size: 1.5em;
    border: none;
}
.btn-submit:hover{
    background: rgba(255, 153, 0, 0.6);
}